.bannerBig__wrapper{
	/* width: 100%; */
	height: var(--size-10);
	background-color: var(--color-10);
	/* animation: ani var(--time-regular) forwards;
	animation-timing-function: ease-out; */
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	padding-top: var(--size-7);
	padding-bottom: var(--size-6);
	box-sizing: border-box;
}
/* @keyframes ani{
	0% {opacity: 0;}
	100% {opacity: 1;}
} */

.bannerBig__header{
	margin: 0 auto;
	text-align: center;
	color: var(--color-1);
}

.bannerBig__img{
	margin: 0 auto;
	height: var(--size-8);
	background-repeat: no-repeat;
}

@media (min-width: 1200px) {
	/* !больше 1200px */
	.bannerBig__img{
		background-image: url(img/banner-big-img-xl.svg);
		width: 1104px;
	}
}
@media (min-width: 1400px) {
	/* !больше 1400px */
	.bannerBig__img{
		background-image: url(img/banner-big-img-xxl.svg);
		width: 1304px;
	}
}