.bannerBig__wrapper{
	/* width: 100%; */
	height: var(--size-10);
	background-color: var(--color-10);
}

.bannerBig__header{
	max-width: var(--width-middle);
	margin: 0 auto;
	padding-top: var(--size-6);
	padding-bottom: var(--size-6);
	text-align: center;
	color: var(--color-1);
}

.bannerBig__img{
	width: 100%;
	height: var(--size-8);
	/* background-color: aquamarine; */
	background-image: url(img/banner-big-img-1400x128.svg);
}