.icon_page_flex{
	display: flex;
	overflow: hidden;
	/* background-color: #cfcf; */
}
.container_info{
	min-width: var(--size-9);
	/* display: block; */
}

.icon{
	width: var(--size-8);
	height: var(--size-8);
}

.result{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
}

.result__corners_container{
	display: flex;
	justify-content: space-between;
}
.result__icon_container{
	margin: 0 var(--size-0);
	background-image: url(@assets/vector-graphics/pattern-alpha-light.svg);
}

.color1 {background-color: var(--color-1);}
.color2 {background-color: var(--color-2);}
.color3 {background-color: var(--color-3);}
.color4 {background-color: var(--color-4);}
.color5 {background-color: var(--color-5);}
.color6 {background-color: var(--color-6);}
.color7 {background-color: var(--color-7);}
.color8 {background-color: var(--color-8);}
.color9 {background-color: var(--color-9);}
.color10 {background-color: var(--color-10);}
.color11 {background-color: var(--color-11);}
.color12 {background-color: var(--color-12);}
.color13 {background-color: var(--color-13);}
.color14 {background-color: var(--color-14);}

.input_color[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	width: var(--size-3);
	height: var(--size-3);
	border-radius: 50%;
	cursor: pointer;
	margin-right: var(--size-1);
}
.input_color[type="radio"]::after {
	content: "";
	position: absolute;
	width: var(--size-1);
	height: var(--size-1);
	left: calc(50% - var(--size-1)/2);
	top: calc(50% - var(--size-1)/2);
	transform: scale(0);
	transition: var(--transition-fast);
}
.input_color[type="radio"]:checked::after {
	transform: scale(1);
}
.input_light[type="radio"]::after {
	background-image: url(@assets/vector-graphics/icon-0021-u-light.svg);
}
.input_dark[type="radio"]::after {
	background-image: url(@assets/vector-graphics/icon-0021-u-dark.svg);
}




.size_radio_btn_container{
	display: inline-flex;
	align-items: center;
	height: var(--size-4);
	border-radius: calc(var(--size-4) / 2);
	/* padding: 0 var(--size-0); */
	background-color: var(--color-8);
}
.size_radio_btn {
	margin: 0 var(--size-0);
}
.size_radio_btn input[type=radio] {
	display: none;
}
.size_radio_btn label {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	/* width: var(--size-5); */
	padding: 0 var(--size-2);
	height: var(--size-3);
	border-radius: calc(var(--size-3) / 2);
	user-select: none;
	transition: var(--transition-fast);
}
.size_radio_btn input[type=radio]:checked + label {
	color: var(--color-8);
	background: var(--color-10);
}
.size_radio_btn label:hover {
	background: var(--color-4);
}

.button_link{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 350px; */
	width: calc(var(--size-8)*3);
	/* ? привязываем к радиокнопкам размера size_radio_btn label*/
	height: var(--size-5);
	border: solid 1px var(--color-10);
	transition: var(--transition-regular);
}
.button_link:hover{
	background-color: rgba(12, 18, 28, 0.04);
}

@media (max-width: 992px) {
	/* ?меньше 992px */
	.icon{
		width: var(--size-7);
		height: var(--size-7);
	}
	.size_radio_btn label {
		padding: 0 var(--size-1);
	}
}
@media (max-width: 768px) {
	/* ?меньше 768px */
	.container_info{
		min-width: calc(var(--size-9) - var(--size-7));
	}
	.button_link{
		width: calc(var(--size-6)*3);
	}
}
@media (max-width: 576px) {
	/* ?меньше 576px */
	.icon_page_flex{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.result_section{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}