/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
	--color-1: #FCFCFC;
	--color-2: #ED1C24;
	--color-3: #C30438;
	--color-4: #F4F7F6;
	--color-5: #E6EAEA;
	--color-6: #202121;
	--color-7: #818285;
	--color-8: #FFFFFF;
	--color-9: #C3C7C6;
	--color-10: #0C121C;
	--color-11: #4FC4B6;
	--color-12: #C8DDEA;
	--color-13: #D6F0BF;
	--color-14: #F5FAFC;

	--width-max: 1400px;

	--spacing-small: 1rem;
	--spacing-large: 4rem;

	--transition-regular: 0.4;
}



* {
	margin: 0;
	padding: 0;
}
html, body {
	background-color: var(--color-4);
	/* font-family: 'Ubuntu', sans-serif; */
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 16px;
}

.container_content{
	/* width: 100%; */
	max-width: var(--width-max);
	margin: 0 auto;
	padding: var(--spacing-large) var(--spacing-large);
	/* background-color: var(--color-13); */
}