.list__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-content: flex-start; */
	margin: var(--spacing-large) 0 var(--spacing-small) 0;
	padding: 0;
	list-style-type: none; 
}

.list__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 246px;
	height: 246px;
	cursor: pointer;
	margin-bottom: var(--spacing-small);
	background-color: var(--color-5);
}

.list__image{
	width: 128px;
	height: 128px;
}