.list__container{
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-content: flex-start; */
	/* margin: var(--spacing-large) 0 var(--spacing-small) 0; */
	/* padding: 0; */
	list-style-type: none; 
	animation: ani var(--time-slow) forwards;
	animation-timing-function: ease-in;
}

@keyframes ani{
	0% {opacity: 0;}
	100% {opacity: 1;}
}