.wrapper{
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-10);
	width: 100%;
	height: var(--size-7);
	z-index: 100;
}

.container{
	display: flex;
	/* justify-content:space-between; */
	align-items: center;
	width: 100%;
}

.logo{
	/*! ширина должна быть равной ширине блоку иконок справа */
	width: 80px;
	height: 33px;
	background-image: url(@static/logo.svg);
}


.search{
	width: 100%;
	display: flex;
	align-items: center;
	height: var(--size-5);
	background-color: var(--color-4);
	transition: var(--transition-regular);
	outline: 2px solid var(--color-7);
    outline-offset: -2px;
}
.search__input{
	border: none;
	outline: none;
    width: 100%;
	margin: 0 1rem;
	background-color: var(--color-4);
}
.search:hover{
	outline: 2px solid var(--color-4);
}
.search:focus-within{
	outline: 2px solid var(--color-3);
}


.search__btn{
	display: flex;
	width: calc(var(--size-5) - 4px);
	height: calc(var(--size-5) - 4px);
	margin-right: 2px;
	background-image: url(@static/icon-0127-s.svg);
	background-repeat:no-repeat;
	background-position: center center;
	background-color: var(--color-10);
	cursor: pointer;
}


.list__btn{
	display: flex;
	justify-content: end;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 80px; 
	/*! ширина должна быть равной ширине логотипа */
}
.list__btn_legal{
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(@static/icon-0172-s.svg);
	margin-right: var(--spacing-small);
}
.list__btn_home{
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(@static/icon-0375-s.svg);
}