.container{
	position: sticky;
	top: 0;
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 0 var(--spacing-xl);
	height: var(--size-7);
	z-index: 100;
	background-color: var(--color-10);
}
.warning_text{
	color: var(--color-2);
	width: 100%;
	text-align: center;
	max-width: var(--breakpoint-m);
}

.logo{
	/*! ширина должна быть равной ширине блоку иконок справа */
	width: var(--size-7); 
	height: 14px;
	background-image: url(@static/logo-light.svg);
}

.search{
	width: 100%;
	max-width: var(--breakpoint-m);
	height: var(--size-5);
	display: flex;
	align-items: center;
	background-color: var(--color-4);
	transition: var(--transition-regular);
	outline: 2px solid var(--color-7);
    outline-offset: -2px;
}
.search__input{
	border: none;
	outline: none;
    width: 100%;
	height: 100%;
	padding-left: var(--spacing-m);
}
.search:hover{
	outline: 2px solid var(--color-4);
}
.search:focus-within{
	outline: 2px solid var(--color-3);
}
.search__btn{
	display: flex;
	width: calc(var(--size-5) - 4px);
	height: calc(var(--size-5) - 4px);
	margin-right: 2px;
	background-image: url(@static/icon-0127-s.svg);
	background-repeat:no-repeat;
	background-position: center center;
	background-color: var(--color-10);
	cursor: pointer;
}


.list__btn{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: var(--size-7); 
	/*! ширина должна быть равной ширине логотипа */
}
.list__btn_1{
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(@static/icon-0020-s.svg);
	margin-right: var(--spacing-m);
}
.list__btn_2{
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(@static/icon-0172-s.svg);
	margin-right: var(--spacing-m);
}
.list__btn_3{
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(@static/icon-0378-s.svg);
}



@media (max-width: 1200px) {
	/* ?меньше 1200px */
	.search, .warning_text{
		max-width: var(--breakpoint-s);
	}
}
@media (max-width: 992px) {
	/* ?меньше 992px */
	.container{
		height: var(--size-6);
	}
	.warning_text{
		max-width: calc(var(--breakpoint-u) - var(--spacing-xl));
	}
	.search{
		max-width: calc(var(--breakpoint-u) - var(--spacing-xl));
		height: var(--size-4);
		outline: 1px solid var(--color-7);
		outline-offset: -1px;
	}
	.search:hover{
		outline: 1px solid var(--color-4);
	}
	.search:focus-within{
		outline: 1px solid var(--color-3);
	}
	.search__btn{
		display: flex;
		width: calc(var(--size-4) - 2px);
		height: calc(var(--size-4) - 2px);
		margin-right: 1px;
	}
}
@media (max-width: 576px) {
	/* ?меньше 576px */
	.container{
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-between;
		padding: var(--spacing-l) var(--spacing-xl);
		height: var(--size-8);
	}
	.search, .warning_text{
		max-width: unset;
	}
}