.go_to_top{
	width: 16px;
	height: 16px;
	cursor: pointer;
	position: fixed;
	right: var(--spacing-xl);
	bottom: var(--size-6);
	display: none;
	mix-blend-mode: exclusion;
}

@media (max-width: 576px) {
	/* ?меньше 576px */
	.go_to_top{
		right: var(--spacing-m);
	}
}