.container {
	bottom: var(--size-7);
	position: sticky;
	width: 100%;
	height: 16px;
	pointer-events: none;
	box-sizing: border-box;
	mix-blend-mode: exclusion;
}
.go_to_top{
	width: 16px;
	height: 16px;
	pointer-events: painted;
	cursor: pointer;
	float: right;
}