.icons_page__header{
	width: 100%;
	max-width: 650px;
	text-align: center;
	margin: 0 auto;
	-webkit-transform: translate3d(0,0,0);

	animation: ani var(--time-slow) ease-out;
	animation-timing-function: linear;
}

/* @keyframes ani{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */
