.btn_back{
	display: inline-flex;
	align-items: center;
	height: var(--size-4);
	padding: 0 var(--size-1);
	margin-left: calc(var(--size-1)*-1);
	transition: var(--transition-regular);
}

.btn_back:hover{
	background-color: var(--color-hover-1);
}

.btn_back__icon{
	margin-right: var(--size-1);
}