.icon_page_flex{
	display: flex;
}
.container_info{
	min-width: var(--size-9);
	display: block;
	
}
.result{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	width: var(--size-5);
	height: var(--size-5);
}
.result__corners_container{
	width: 100%;
	height: var(--size-0);
	display: flex;
	justify-content: space-between;
}
.result__icon_container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: var(--size-4);
	height: var(--size-4);
}


.color1 {background-color: var(--color-1);}
.color2 {background-color: var(--color-2);}
.color3 {background-color: var(--color-3);}
.color4 {background-color: var(--color-4);}
.color5 {background-color: var(--color-5);}
.color6 {background-color: var(--color-6);}
.color7 {background-color: var(--color-7);}
.color8 {background-color: var(--color-8);}
.color9 {background-color: var(--color-9);}
.color10 {background-color: var(--color-10);}
.color11 {background-color: var(--color-11);}
.color12 {background-color: var(--color-12);}
.color13 {background-color: var(--color-13);}
.color14 {background-color: var(--color-14);}

.input_color[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	width: var(--size-3);
	height: var(--size-3);
	border-radius: 50%;
	cursor: pointer;
	margin-right: var(--size-1);
}
.input_color[type="radio"]::after {
	content: "";
	position: absolute;
	width: var(--size-1);
	height: var(--size-1);
	left: calc(50% - var(--size-1)/2);
	top: calc(50% - var(--size-1)/2);
	transform: scale(0);
	transition: var(--transition-fast);
}
.input_color[type="radio"]:checked::after {
	transform: scale(1);
}
.input_light[type="radio"]::after {
	background-image: url(@static/icon-0021-u-light.svg);
}
.input_dark[type="radio"]::after {
	background-image: url(@static/icon-0021-u-dark.svg);
}




.size_radio_btn_container{
	display: inline-flex;
	align-items: center;
	height: var(--size-4);
	border-radius: calc(var(--size-4) / 2);
	/* padding: 0 var(--size-0); */
	background-color: var(--color-8);
}
.size_radio_btn {
	margin: 0 var(--size-0);
}
.size_radio_btn input[type=radio] {
	display: none;
}
.size_radio_btn label {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: var(--size-8);
	height: var(--size-3);
	border-radius: calc(var(--size-3) / 2);
	user-select: none;
	transition: var(--transition-fast);
}
.size_radio_btn input[type=radio]:checked + label {
	color: var(--color-8);
	background: var(--color-10);
}
.size_radio_btn label:hover {
	background: var(--color-4);
}