/* .container{
	width: 100%;
	max-width: var(--width-max);
	margin: 0 auto;
	padding: var(--spacing-large) var(--spacing-large);
} */

.bg_page_img {
	background-image: url(@assets/vector-graphics/bg_page_404.svg);
}